<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
  <meta charset="UTF-8">

</head>
<body>

<div id="menu" class="col-md-1" th:fragment="leftmenu">
  <div  th:each="yearly : ${articleMenu}">
    <button class="dropdown-btn-menu" th:text="${yearly.year}">2021
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container" >
      <a href="#" th:href="@{/article/} + ${yearly.year} + '/' + ${monthly.month}" th:each="monthly : ${yearly.yearlyArticles}" th:text="'Tháng ' + ${monthly.month}">Tháng 9</a>
    </div>
  </div>
  <div id="userOnline">
    <span class="material-icons">supervisor_account</span> Online : <span id="count"> 300 </span>
  </div>
</div>

</body>
</html>