
#header{
    margin-top: 40px;
    height: 60px;
    /* width: 100%; */
    background-color: #404040;
    opacity: 0.5;
}
.header-top select{
    border: none;
}
#menu{
    /* float: left; */
    /* width: 200px;
    height: 1000px; */
    color: white;
    height: 100%;
    background-color: white;
    padding-top: 200px;
    position: fixed;
    z-index: 2;
}
#content{
    /* float: left; */
    /* margin-left: 250px; */
    /* height: 100px; */
    /* width: 100%; */
    height: 100%;
    background-color: whitesmoke;
    padding-top: 5px;
    padding-left: px;
}
#ads{
    /* height: 100px; */
    /* width: 100%; */
    height: 100%;
    background-color:white;
    padding-top: 5px;
}
#footer{
    justify-content: center;
    color: white;
    height: 30px;
    /* width: 100%; */
    background-color: black;
}
#footer li {
    float: left;
    list-style-type: none;
  }
  
#footer a {
    display: block;
    padding: 3px;
    background-color: black;
  }

  .row{
    margin-right:0px;
  }
.card-body{
  cursor: pointer;
}