<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb" th:replace="~{layout/main-layout :: main-fragment(
                                                ~{::title},
                                                ~{:: #article-static-resources},
                                                ~{:: #article-meta-data},
                                                ~{:: #article-header},
                                                ~{:: #article-topmenu},
                                                ~{:: #article-leftmenu},
                                                ~{:: #article-main-content},
                                                ~{:: #article-footer}
                                               )}">
<head>
    <meta charset="UTF-8">
    <title th:text="${head == null ? 'dAngthIEnthAn' : head.title}"></title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/article.css}" >


    <th:block id="article-static-resources">
        <link rel="stylesheet" type="text/css" th:href="@{/css/article.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/moreArticle.css}">

    </th:block>
</head>
<body>

<div id="article-main-content">
    <div class="article-header">
        <img th:src="${article.post.titleImage}" alt="Title" style="width:100%;">
        <div class="article-title">
            <h1 th:text="${article.post.title}">Heading</h1>
            <i class="material-icons">alarm</i>
            <time th:datetime="${article.post.created}"
                  th:text="${#dates.format(article.post.created, 'dd-MM-yyyy HH:mm')}"></time>
            <i class="material-icons">face</i><span th:text="${article.post.createdBy}">Nguyễn Thế Đăng</span>
            <!--                        <p>Lorem ipsum dolor sit amet, an his etiam torquatos. Tollit soleat phaedrum te duo, eum cu recteque expetendis neglegentur. Cu mentitum maiestatis persequeris pro, pri ponderum tractatos ei.</p>-->
        </div>
    </div>

    <!--                <img th:src="${article.post.titleImage}" style="width:100%">-->
    <div th:utext="${article.post.content}">Here is in database</div>
</div>

<!--    <ul th:each="article : ${articleMenu.get(0).yearlyArticles.get(0).monthlyArticles}">-->
<!--        <li><a th:href="@{/article/}+${article.id}" th:text="${article.post.title}"></a></li>-->
<!--    </ul>-->

<!--    <h1 th:each="article : ${articleMenu.get(0).yearlyArticles.get(0).monthlyArticles}" th:text="${article}"></h1>-->
</body>
<script th:src="@{/js/dropdown.js}">
</script>
<script th:src="@{/js/moreArticle.js}">
</script>
</html>