<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
  <title th:text="${title}"></title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link type="text/css" rel="stylesheet" href="../css/bootstrap.min.css" th:href="@{../css/bootstrap.min.css}"/>
</head>
<body>
<div class="col-3"></div>
<div class="container col-6">
  <h1>Dang's friends</h1>
  <table class="table table-active">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Actions</th>
    </tr>
    <tr th:each="user : ${users}">
      <td th:text="${user.name}"></td>
      <td th:text="${user.email}"></td>
      <td th:text="${user.phone}"></td>
      <td>
        <a th:href="@{/friends/edit?id={id}(id=${user.id})}" class="btn btn-primary">Edit</a>
<!--        <a th:href="@{/friends/delete?id={id}(id=${user.id})}" class="btn btn-danger">Delete</a>-->
      </td>
    </tr>
  </table>
  <a href="/friends/add" class="btn btn-success">Add Friend</a>
  <img src="http://localhost:8081/load/file/download.jpg">
</div>
</body>
</html>