<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title th:text="${head == null ? 'dAngthIEnthAn' : head.title}"></title>
  <!--  <link rel="stylesheet" href="./css.css">-->
  <!--  <link rel="stylesheet" href="./dropdown.css">-->
  <!-- CSS -->

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" th:href="@{/css/dropdown.css}" >
  <link rel="stylesheet" type="text/css" th:href="@{/css/css.css}" >
  <link rel="stylesheet" type="text/css" th:href="@{/css/article.css}" >
  <link rel="stylesheet" type="text/css" th:href="@{/css/moreArticle.css}" >
  <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}" >
</head>

<body>
<!--MenuTop-->
<div class="header-top row">
  <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#" th:href="@{/}">Dang-thAn-thieN's bloG</a>
    <div class="listdropdown col align-self-end">
      <div class="btn-group" >
        <th:block  th:each="subject: ${topMenu}">
          <div type="button" class="dropdown btn btn-dark"  >
            <span th:text="${subject.name}"> Apple</span>
            <div class="dropdown-content" >
              <th:block  th:each="subSubject : ${subject.subSubject}">
                <a href="#" th:href="@{/article/subject/} + ${subSubject.id}" th:text="${subSubject.name}">SubjectName</a>
              </th:block>
            </div>
          </div>
        </th:block>
      </div>
    </div>
    <form class="form-inline" action="/fullTextSearch.php">
      <input class="form-control mr-sm-2" type="text" placeholder="Tìm kiếm">
      <button class="btn btn-dark" type="submit">Tìm kiếm</button>
    </form>
  </nav>
</div>
<!--End MenuTop-->
<!--Left Menu-->
<div id="menu" class="col-md-1" >
  <div  th:each="yearly : ${articleMenu}">
    <button class="dropdown-btn-menu" th:text="${yearly.year}">2021
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container" >
      <a href="#" th:href="@{/article/} + ${yearly.year} + '/' + ${monthly.month}" th:each="monthly : ${yearly.yearlyArticles}" th:text="'Tháng ' + ${monthly.month}">Tháng 9</a>
    </div>
  </div>
</div>
<!--End Left Menu-->

<!--Dragon Fly-->
<section>
  <div id="header" class="row">
    <div></div>
  </div>
</section>
<!--End Dragon Fly-->


<div class="page row">
  <div class="container-fluid float-left offset-2">
    <div class="row">
      <div id="content" class="col-md-7 ">
<!--        <div th:utext="${article.post.content}">Here is in database</div>-->
        <div class="row">
          <div class="column">
            <div th:fragment="articleList" class="card" th:each="article : ${articles}">
              <a th:href="@{/article/} + ${article.post.id}">
                <img class="card-img-top"  src = "https://www.talkwalker.com/images/2020/blog-headers/image-analysis.png" th:src="${article.post.titleImage}" th:alt="${article.post.title}">
              </a>
                <div class="card-body">
                  <a th:href="@{/article/} + ${article.post.id}">
                    <h5 class="card-title" th:text="${article.post.title}">Cách con người làm một việc là cách con người làm mọi việc</h5>
                  </a>
                  <p class="card-text" th:text="${article.post.introduction}">Sinh ra và lớn lên, mỗi người có những tiềm thức, có những trải
                    nghiệm khác nhau. Hình thành nên cách làm việc là khác nhau.
                    Những vấn đề thường ngày nhất là thứ thể hiện bản chất thật nhất của con người</p>
                  <a th:href="@{/article/} + ${article.post.id}"> Đọc tiếp... >>> </a>
                </div>


              <div th:if="${article.post.tags} != null" class="card-footer text-muted">
                <i class="material-icons">local_offer</i>:
                <span th:each="tag: ${article.post.tags}"><a href="#"  th:text="${tag} + ' ' ">tag1, </a></span>
              </div>
            </div>
            <div id="moreArticle"></div>
            <div id="getContinue">
              <span >Thêm bài viết >>></span>
            </div>
          </div>
        </div>
      </div>
      <div id="ads" class="col-md-4"></div>
    </div>
  </div>


</div>
<script th:src="@{/js/dropdown.js}">
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script th:src="@{/js/moreArticle.js}">
</script>
<script>
  $(document).ready(function(){

    $("#getContinue").click(function(){
     getMoreArticle();
    });
  });
</script>
</body>
</html>