<!DOCTYPE html>
<!--main-fragment (title, otherStaticResources, metaData, header, topmenu, leftmenu, mainContent, footer)-->
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb" th:replace="~{layout/main-layout :: main-fragment(
                                                ~{::title},
                                                ~{:: #home-static-resources},
                                                ~{:: #home-meta-data},
                                                ~{:: #home-header},
                                                ~{:: #home-topmenu},
                                                ~{:: #home-leftmenu},
                                                ~{:: #home-main-content},
                                                ~{:: #home-footer}
                                               )}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title th:text="${head == null ? 'dAngthIEnthAn' : head.title}"></title>
  <!--  <link rel="stylesheet" href="./css.css">-->
  <!--  <link rel="stylesheet" href="./dropdown.css">-->
  <!-- CSS -->

  <th:block id="home-static-resources">
    <link rel="stylesheet" type="text/css" th:href="@{/css/article.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/moreArticle.css}">

  </th:block>

</head>

<body>

<div id="home-main-content" class="row">
  <div class="column">
    <div th:fragment="articleList" class="card" th:each="article : ${articles}">
      <a th:href="@{/article/} + ${article.post.id}">
        <img class="card-img-top"
             src="https://www.talkwalker.com/images/2020/blog-headers/image-analysis.png"
             th:src="${article.post.titleImage}" th:alt="${article.post.title}">
      </a>
      <div class="card-body">
        <a th:href="@{/article/} + ${article.post.id}">
          <h5 class="card-title" th:text="${article.post.title}">Cách con người làm một việc là cách
            con người làm mọi việc</h5>
        </a>
        <p class="card-text" th:text="${article.post.introduction}">Sinh ra và lớn lên, mỗi người có
          những tiềm thức, có những trải
          nghiệm khác nhau. Hình thành nên cách làm việc là khác nhau.
          Những vấn đề thường ngày nhất là thứ thể hiện bản chất thật nhất của con người</p>
        <a th:href="@{/article/} + ${article.post.id}"> Đọc tiếp... >>> </a>
      </div>


      <div th:if="${article.post.tags} != null" class="card-footer text-muted">
        <i class="material-icons">local_offer</i>:
        <span th:each="tag: ${article.post.tags}"><a href="#"
                                                     th:text="${tag} + ' ' ">tag1, </a></span>
      </div>
    </div>
    <div id="moreArticle"></div>
    <div id="getContinue">
      <span>Thêm bài viết >>></span>
    </div>
  </div>

  <script th:src="@{/js/dropdown.js}">
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script th:src="@{/js/moreArticle.js}">
  </script>
  <script>
  $(document).ready(function(){
    $("#getContinue").click(function(){
     getMoreArticle();
    });
  });

  </script>
</div>
</body>
</html>